.contact-form-section {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 8rem 12rem 8rem 12rem;
    background-color: var(--eerie-black);
}

.contact-form-section h2 {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--granite-gray);
    font-weight: 400;
    font-size: clamp(20px, 4vw, 40px);
}

.contact-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-form-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-preferences {
    display: flex;
    flex-direction: row;
}

.contact-preferences p {
    margin-left: 2rem;
    font-weight: 400;
    font-size: clamp(10px, 2vw, 20px);
}

.contact-preferences p a {
    color: white;
    text-decoration: none;
}

.contact-preferences p a:hover {
    color: var(--corn);
    transition: .25s ease-in-out;
}

.contact-icons {
    color: white;
}

.contact-icons:hover {
    color: var(--corn);
    transition: .25s ease-in-out;
}

.contact-form-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding-left: 4rem;
    border-left: 1px solid var(--granite-gray);
}

.contact-form-right label {
    font-weight: 400;
    font-size: clamp(10px, 2vw, 20px);
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.contact-form-right input {
    font-weight: 400;
    font-size: clamp(10px, 2vw, 20px);
    border-radius: 8px;
    padding: .25rem;
}

.contact-form-right textarea {
    height: 20rem;
    font-weight: 400;
    font-size: clamp(10px, 2vw, 20px);
    border-radius: 8px;
    padding: .25rem;
}

.contact-form-right button {
    background-color: var(--pacific-blue);
    color: white;
    margin-top: 2rem;
    width: 25%;
    padding: .75rem;
    font-weight: 400;
    font-size: clamp(10px, 2vw, 20px);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contact-form-right button:hover {
    background-color: var(--pacific-blue-dark);
    transition: .25s ease-in-out;
}

.contact-form-right button:active {
    background-color: var(--oxford-blue);
}

@keyframes myAnimation{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        display: none;
        opacity: 0;
    }
}

.contact-form-right span {
    padding-top: .75rem;
    font-weight: 400;
    font-size: clamp(10px, 2vw, 20px);
    animation-name: myAnimation;
    animation-duration: 6000ms;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 980px) {
    .contact-form-section {
        padding: 12rem 4rem 12rem 4rem;
    }
}

@media screen and (max-width: 575px) {
    .contact-form-section {
        padding: 5rem 2rem 5rem 2rem;
    }
    .contact-form-container {
        justify-content: space-evenly;
    }
    .contact-form-left {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1rem;
    }
    .contact-form-right {
        flex-direction: column;
        justify-content: center;
        width: 85%;
        padding-top: 1rem;
        padding-left: 0;
        border-left: none;
        --mox-border-left: none;
    }
    .contact-preferences p {
        margin: 0 1.25rem;
        padding-top: .25rem;
        font-weight: 400;
        font-size: clamp(10px, 2vw, 20px);
    }
    .contact-form-right label {
        font-size: clamp(15px, 2vw, 20px);
        padding-top: 1rem;
        padding-bottom: .5rem;
    }
    .contact-form-right button {
        margin-top: 1.25rem;
        width: 30%;
        padding: .75rem;
        font-weight: 400;
        font-size: clamp(15px, 2vw, 20px);
    }
}

@media screen and (max-width: 430px) {
    .contact-form-section {
        padding: 8rem 2rem 0rem 2rem;
    }
    .contact-form-section h2 {
        font-size: clamp(30px, 4vw, 40px);
    }
    .contact-form-left {
        margin-left: 1.2rem;
    }
    .contact-preferences p {
        margin: 0 1.5rem 0 .5rem;
        padding-top: .25rem;
        font-weight: 400;
        font-size: clamp(10px, 2vw, 20px);
        text-align: center;
    }
}