.header-container {
    display: flex;
    background-color: var(--raisin-black);
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: .5rem;
}

.header-container img {
    width: 4rem;
    margin-top: .5rem;
    margin-left: 2rem;
}

.header-container nav {
    margin-right: 2rem;
}

.header-container nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 4rem;
}

.header-container ul li a {
    text-decoration: none;
    color: white;
    font-size: large;
}

.header-container ul li a:hover {
    opacity: 75%;
    transition: opacity .25s ease-in-out;
}