.header-container {
    display: flex;
    background-color: var(--raisin-black);
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.header-container img {
    width: 4rem;
    margin: .5rem 2rem;
}

.header-container nav {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}

.header-container nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 4rem;
}

.header-container ul li a {
    text-decoration: none;
    color: white;
    font-size: large;
    padding-left: .5rem;
}

.header-container ul li:hover {
    opacity: 60%;
    transition: opacity .25s ease-in-out;
}

.resume-btn {
    font-size: large;
    background-color: var(--raisin-black);
    border: 1px solid black;
    border-radius: 8px;
    margin-top: -.25rem;
    margin-left: 4rem;
    padding: .5rem 1.25rem;
    color: white;
    text-decoration: none;
}

.resume-btn:hover {
    background-color: var(--pacific-blue);
    transition: .25s ease-in-out;
    color: var(--oxford-blue);
}

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width: 980px) {
    .header-container {
        padding: 1rem;
    }

    .header-container nav ul {
        padding-top: .35rem;
        gap: 2rem;
    }

    .resume-btn {
        background-color: var(--pacific-blue);
        margin-top: -.25rem;
        margin-left: 2rem;
        padding: .5rem 1rem;
        color: var(--oxford-blue);
        text-decoration: none;
    }
}

@media screen and (max-width: 768px) {
    
}