.footer-conatiner {
        display: flex;
        background-color: var(--raisin-black);
        gap: 2rem;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        color: white;
}

.footer-conatiner h3 {
        font-weight: 400;
        font-size: clamp(10px, 2vw, 20px);
}
