:root {
  --eerie-black: #212121;
  --raisin-black: #23252F;
  --oxford-blue: #003;
  --pacific-blue: #47A8BD;
  --pacific-blue-dark: #15768B;
  --corn: #f5e663;
  --granite-gray: #616163;
  --flat-black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}