.project-section {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5rem 12rem 20rem 12rem;
    background-color: var(--eerie-black);
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    height: 100vh;
}

.project-section h2 {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--oxford-blue);
    padding-top: 1rem;
    font-weight: 400;
    font-size: clamp(20px, 4vw, 40px);
}

.project-card {
    width: 20rem;
    border: 1px solid var(--granite-gray);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 2rem;
}

.project-card:hover {
    background-color: var(--granite-gray);
    transition: .5s ease-in-out;
    box-shadow: 1px 1px 12px 5px black;
}

.card-image {
    max-width: 17.75rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.card-title {
    padding-top: 2rem;
    font-weight: 600;
    font-size: clamp(20px, 4vw, 24px);
}

.card-links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5rem;
}

.card-icons {
    color: white;
}

.card-icons:hover {
    color: var(--oxford-blue);
    transition: .25s ease-in-out;
}

@media screen and (max-width: 980px) {
    .project-section {
        padding: 12rem 4rem 12rem 4rem;
    }
    .cards {
        gap: 1.25rem;
    }
    .project-card {
        background-color: var(--granite-gray);
        box-shadow: 1px 1px 12px 5px black;
        width: 12.25rem;
        height: 28.5rem;
        padding: 1rem .5rem;
    }
    .card-body {
        gap: 1rem;
    }
    .card-image {
        max-width: 10.75rem;
    }
    .card-title {
        padding-top: 1rem;
    }
    
}

@media screen and (max-width: 768px) {
    .project-section {
        padding: 12rem 4rem 12rem 4rem;
    }
    .cards {
        gap: 1rem;
    }
    .project-card {
        width: 9rem;
        height: 21rem;
        padding: 1rem .5rem;
    }
    .card-image {
        max-width: 7.8rem;
    }
    .card-title {
        padding-top: 1rem;
        font-size: clamp(15px, 2vw, 10px);
    }
    .card-description {
        font-weight: 600;
        font-size: clamp(10px, 2vw, 10px);
    }
    .card-links {
        padding-top: 1rem;
    }
    .card-icons {
        color: white;
    }
}

@media screen and (max-width: 575px) {
    .project-section {
        padding: 0 2rem 0 2rem;
    }
    .cards {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 8rem;
        margin-bottom: 4rem;
    }
    .card-body {
        flex-direction: column;
        width: 50%;
        margin-right: -2rem;
    }
    .project-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 32rem;
        min-height: 8.5rem;
        padding: .75rem;
        margin-top: 0;
    }
    .card-image {
        max-width: 10.25rem;
    }
    .card-title {
        padding-top: 0;
    }
    .card-description {
        font-weight: 600;
        font-size: clamp(12px, 2vw, 10px);
        padding-bottom: .25rem;
    }
    .card-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -1rem;
        margin-right: -1.5rem;
        gap: 1rem;
        width: 20%;
    }
}

@media screen and (max-width: 430px) {
    .project-section {
        padding: 0 1.25rem;
    }
    .project-section h2 {
        font-size: clamp(30px, 4vw, 40px);
    }
    .cards {
        margin: 16rem auto 12rem auto;
    }
    .project-card {
        width: 100%;
        min-height: 10rem;
        padding: .75rem;
    }
    .card-image {
        margin-top: auto;
        margin-bottom: auto;
        max-width: 7.5rem;
    }
    .card-title {
        margin-top: auto;
        margin-bottom: auto;
    }
    .card-body {
        margin-top: auto;
        margin-bottom: auto;
        gap: .5rem;
        text-align: center;
    }
}

@media screen and (max-width: 380px) {
    .project-section {
        padding-top: 0;
    }
    .cards {
        margin: 19rem auto 15rem auto;
    }
    .card-description {
        font-size: clamp(11px, 2vw, 8px);
    }
    .card-body {
        padding-right: .25rem;
    }
}