.project-section {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 12rem 10rem 12rem;
    background-color: var(--eerie-black);
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-content: center;
}

.project-section h1 {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--oxford-blue);
}

.project-card {
    width: 18rem;
    border: 1px solid var(--granite-gray);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 2rem;
}

.card-image {
    max-width: 16rem;
}