.challenges-section {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 8rem 12rem 20rem 12rem;
    background-color: var(--eerie-black);
}

.challenges-section h2 {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--pacific-blue);
    padding-top: 1rem;
    font-weight: 400;
    font-size: clamp(20px, 4vw, 40px);
}

.challenges-section h3 {
    padding: 2rem 0;
    font-style: italic;
    font-weight: 400;
    font-size: clamp(20px, 2vw, 20px);
}

.challenges-section-cards {
    margin: auto;
}

.modal-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 25rem;
    height: 18rem;
    border: 1px solid var(--granite-gray);
    border-radius: 8px;
    padding: 2rem;
}

.modal-card:hover {
    background-color: var(--granite-gray);
    transition: .25s ease-in-out;
    box-shadow: 1px 1px 12px 5px black;
}

.modal-card h4 {
    font-weight: 600;
    font-size: clamp(20px, 4vw, 24px);
}

.modal-btn {
    font-size: large;
    color: var(--oxford-blue);
    background-color: var(--pacific-blue);
    border: 1px solid black;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem 1.25rem;
    text-decoration: none;
}

.modal-card button:hover {
    background-color: var(--pacific-blue-dark);
    color: white;
}

.challenge-modal h1 {
    font-weight: 400;
    font-size: clamp(20px, 4vw, 40px);
}

.challenge-modal p {
    font-weight: 400;
    font-size: clamp(20px, 4vw, 40px);
}