.challenges-section {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 12rem 20rem 12rem;
    background-color: var(--eerie-black);
}

.challenges-section h2 {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--pacific-blue);
    padding-top: 1rem;
    font-weight: 400;
    font-size: clamp(20px, 4vw, 40px);
}

.challenges-section-cards {
    width: 18rem;
    border: 1px solid var(--granite-gray);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 2rem;
}